nodered-upload-v3.json
[
    {
        "id": "upload_v3_tab",
        "type": "tab",
        "label": "Video Upload v3",
        "disabled": false,
        "info": "Prosty upload wideo"
    },
    {
        "id": "event_listen",
        "type": "server-events",
        "z": "upload_v3_tab",
        "name": "Event: upload_video",
        "server": "",
        "version": 1,
        "eventType": "upload_video",
        "exposeToHomeAssistant": false,
        "haConfig": [],
        "waitForRunning": true,
        "x": 150,
        "y": 100,
        "wires": [
            ["debug_input", "decode_base64"]
        ]
    },
    {
        "id": "debug_input",
        "type": "debug",
        "z": "upload_v3_tab",
        "name": "1. Event otrzymany",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "Event!",
        "statusType": "auto",
        "x": 410,
        "y": 60,
        "wires": []
    },
    {
        "id": "decode_base64",
        "type": "function",
        "z": "upload_v3_tab",
        "name": "2. Dekoduj Base64",
        "func": "// Pobierz dane z eventu\nconst eventData = msg.payload.event;\n\nif (!eventData || !eventData.data) {\n    node.error('Brak danych w event.data');\n    node.status({fill:'red', shape:'ring', text:'Brak danych'});\n    return null;\n}\n\n// Dekoduj base64\ntry {\n    const base64Data = eventData.data;\n    const buffer = Buffer.from(base64Data, 'base64');\n    \n    msg.payload = buffer;\n    msg.filename = '/media/multimedia/_DOMYSLNY_.mp4';\n    \n    node.status({fill:'green', shape:'dot', text:'Zdekodowano ' + buffer.length + ' bajtów'});\n    return msg;\n} catch (e) {\n    node.error('Błąd dekodowania: ' + e.message);\n    node.status({fill:'red', shape:'ring', text:'Błąd: ' + e.message});\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 100,
        "wires": [
            ["debug_decoded", "write_file"]
        ]
    },
    {
        "id": "debug_decoded",
        "type": "debug",
        "z": "upload_v3_tab",
        "name": "2b. Po dekodowaniu",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 650,
        "y": 60,
        "wires": []
    },
    {
        "id": "write_file",
        "type": "file",
        "z": "upload_v3_tab",
        "name": "3. Zapisz plik",
        "filename": "",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 630,
        "y": 100,
        "wires": [
            ["debug_saved", "video_off"]
        ]
    },
    {
        "id": "debug_saved",
        "type": "debug",
        "z": "upload_v3_tab",
        "name": "3b. Plik zapisany!",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "filename",
        "targetType": "msg",
        "statusVal": "Zapisano!",
        "statusType": "auto",
        "x": 850,
        "y": 60,
        "wires": []
    },
    {
        "id": "video_off",
        "type": "api-call-service",
        "z": "upload_v3_tab",
        "name": "4. Video OFF",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": ["switch.video"],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 830,
        "y": 100,
        "wires": [
            ["delay_1s"]
        ]
    },
    {
        "id": "delay_1s",
        "type": "delay",
        "z": "upload_v3_tab",
        "name": "Czekaj 1s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 990,
        "y": 100,
        "wires": [
            ["video_on"]
        ]
    },
    {
        "id": "video_on",
        "type": "api-call-service",
        "z": "upload_v3_tab",
        "name": "5. Video ON",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": ["switch.video"],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1150,
        "y": 100,
        "wires": [
            ["debug_done"]
        ]
    },
    {
        "id": "debug_done",
        "type": "debug",
        "z": "upload_v3_tab",
        "name": "6. GOTOWE!",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "'Video zaktualizowane!'",
        "targetType": "jsonata",
        "statusVal": "DONE!",
        "statusType": "auto",
        "x": 1330,
        "y": 100,
        "wires": []
    }
]

